*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.header{
	background: rgba(0, 0, 0, 1);
	color: white;
	text-transform: uppercase;
	display: flex;
	height: 70px;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
}
.header__logo{
	width: 30%;
	text-align: center;
    font-size: 30px;
}
.header__logo span{
	color: red;
}
.header__nav{
	width: 70%;

}
.header__menu{
	list-style-type: none;
	display: flex;
	width: 50%;
    margin: auto;
    justify-content: space-between;
}
.header__submenu{
	position: relative;
}
.header__menu a{
	text-decoration: none;
	color: white;
	transition: 1s;
}
.header__submenu ul{
	background: rgba(0, 0, 0, 1.0);
	display: none;
	position: absolute;
	left: -18px;
	list-style: none;
	padding: 10px 20px;
	width: 160%;
    top: 43px;

}
.header__submenu li{
	padding: 10px 0;
}
.header__submenu:hover ul{
	display: block;
}
.header__menu a:hover{
	color: red;
}
.banner{
	height: 100vh;
	background: url(../img/bg1.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.banner__info{
	width: 80%;
	margin: auto;
	left: 0;
	right: 0;
	color: white;
	top: 200px;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;

}
.banner__info>div{
	margin: 10px 0;
}
.banner__title{
	font-size: 45px;
}
.banner__subtitle{
	font-size: 38px;
}
.banner__text{
	font-size: 30px;
	color: grey;
}
.banner__btn{
	background: red;
	position: absolute;
	bottom: 200px;
	padding: 10px 15px;
	left: 10%;
}
.banner__btn a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
.articles{
	height: 100vh;
	background: lightgrey;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.articles__item{
	height: 90%;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.articles__item:not(.noBg) {
	background: grey;
}
.articles__wrapper{
	height: 90%;
	width: 90%;
	position: relative;
}
.articles__title{
	font-weight: 700;
	font-size: 20px;
	margin: 15px 0;
}
.articles__text{
	font-size: 14px;
}
.articles_img{
	height: 350px;
	position: relative;
}
.articles__item:nth-child(1) .articles_img{
	background: url(../img/drumps.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.articles__item:nth-child(2) .articles_img{
	background: url(../img/gituars.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-size: 100% 121%;
    background-position: 0 -47px;
}
.articles__item:nth-child(3) .articles_img{
	background: url(../img/drumps.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.articles__btn{
	position: absolute;
	bottom: 0;
	background: red;
	border: 1px solid red;
	/* position: absolute; */
	/* bottom: 200px; */
	padding: 10px 15px;
	left: 10%;
}
.articles__btn a{
	color: white;
	text-transform: uppercase;
}
.fa-magnifying-glass-minus{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.father{
	position: relative;
}
.hint{
	background: rgb(212, 206, 206, 0.5);
	display: none;
	border-radius: 10px;
	position: absolute;
	left: 320px;
	list-style: none;
	padding: 10px 20px;
	width: 171px;
	top: 46px;
}
.father:hover div{
	display: block;
}
.triangle-up {
	/* display:none; */
	position: absolute;
	width: 0;
	height: 0;
	border-left: 19px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 16px solid rgb(212, 206, 206, 0.5);
	left: 133px;
	top: -16px;
}


/* ***********
.my{
		display: none;
		position: absolute;
}
#heart {
position: absolute;
	
	width: 100px;
	height: 90px;
}

#heart:before,
#heart:after {
	position: absolute;
	content: "";
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background: red;
	-moz-border-radius: 50px 50px 0 0;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
	margin-top: 44px;
	margin-left: 10px;
}

#heart:after {
	left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

***************
.banner__btn {
	position: relative;
}
.banner__btn:hover div{
	display: block;
} */


.footer {
	background: rgba(0, 0, 0, 1);
	color: white;
	text-transform: uppercase;
	display: flex;
	height: 70px;
	align-items: center;
	width: 100%;
	top: 0;
}

.footer__logo {
	width: 84%;
	font-size: 30px;
	padding-left: 120px;
}

.footer__logo span {
	color: red;
}
.footer__img  i{
	margin-left: 29px;
	font-size: 25px;
	color: white;
}
.footer__img:hover .face{
	color: red;
}
.footer__img:hover .twit {
	color: rgb(64, 11, 180);
}